<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Privar para cuidar | Notas | Ver de Cerca</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
      </head>
<body>
    <div class="barra">
        <nav>
            <a href="index.html" class="logo">Ver de Cerca</a>
            <div class="barra">
                <ul>
                    <li class="item"><a href="notas.html" class="item">Notas</a></li>
                    <li class="item"><a href="quienesSomos.html" class="item">Quiénes Somos</a></li>
                    <li class="item"><a href="contacto.html" class="item">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <main>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h3 class="text-center">Privar para cuidar</h3>
                <h5 class="text-end fw-semibold fst-italic">Editorial</h5>
                <p>Existe una conexión estrecha entre lo que elegimos incorporar a nuestras dietas y el impacto de tales decisiones sobre el medio ambiente. 
                    Cada vez son más las personas que deciden cambiar su plan de alimentación para combatir la deforestación, los incendios adrede y la matanza 
                    de animales. Esto sucede porque al mismo tiempo que circula un virus a nivel global, las sierras cordobesas están ardiendo. Y este sólo es 
                    un ejemplo. <br>
                    El siglo XXI se está caracterizando por las empresas multinacionales que, en su afán de conseguir más, arremeten contra el 
                    patrimonio natural y nativo de todo el mundo. Algunas de esas industrias son la ganadera y la agropecuaria, pilares 
                    fundamentales del capitalismo actual. En busca de beneficios estas actividades arrasan con todo lo que encuentran. Y eso es,
                     nada más y nada menos, la salud y el espacio verde que nos rodea. <br>
                    Cuando ardía el pulmón más grande de todo el mundo, Amazonas, muchos científicos y especialistas hablaron de la relación 
                    entre el consumo de carne y los incendios. Esto es así porque existe una alta demanda en productos que derivan de animales 
                    y eso trae como consecuencia los hechos recientes por los que estamos siendo damnificados. Por lo tanto, los incendios que 
                    abruman a tantas familias y a un tan golpeado mundo no son accidentales. "Donde hubo fuego negocios quedan", <a href="https://ffyh.unc.edu.ar/alfilo/donde-hubo-fuego-negocios-quedan/" class="linkNotas">señaló hace 
                    unos días Joaquín Deón</a>, becario del CONICET-UNC. El comercio de las carnes ha creado una lógica siniestra. Primero se 
                    queman y talan árboles para potenciar la expansión agrícola, luego se prepara el suelo para alimentar el ganado. Sin 
                    embargo, no sólo se trata de empresas. Tampoco existe una propuesta clara e irrevocable por parte de quienes corresponde 
                    para garantizar los bosques libres de fuego. El Estado nacional y provincial, al menos en Argentina, carece de dureza 
                    contra los grandes capitalistas. <br>
                    Frente a estas evidencias la postura ha de ser clara. Es necesario proteger el ecosistema del cual formamos parte y 
                    garantizar a todas las personas el mismo acceso a alimentos de calidad y amigables con el medio ambiente. Los incendios 
                    deben acabar, la tala de árboles parar y el consumo desmesurado de animales debe replantearse. Reducir la ingesta podría 
                    servir de gran ayuda a nuestros tan vapuleados bosques. Aunque peque de publicidad, aún tenemos el poder. Está en nuestras 
                    manos, al menos en una milésima parte, cambiar el panorama que se avizora de aquí a unos años.
                </p>
                <h5 class="text-end fst-italic">Redacción Ver de Cerca</h5>
            </div>
            <div class="col-1"></div>
        </div>

        <section id="app">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="comentario">
                            <p v-for="items in item" v-text="items"></p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <textarea type="text" class="input" placeholder="Escribí tu comentario" v-model="newItem" @serivicos.web="addItem()"></textarea>
                            <button v-on:click="addItem()" class="primaryContained float-right" type="enviar">Añadir comentario</button>

                    </div>
                </div>
            </div>
        </section>

        <footer>
            <hr>
            <div class="pie">
                <h5 class="fw-light fst-italic">Una mirada ecológica</h5>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </main>

</body>
</html>