|<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Entre cenizas y construcciones | Notas | Ver de Cerca</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
      </head>
<body>
    <div class="barra">
        <nav>
            <a href="index.html" class="logo">Ver de Cerca</a>
            <div class="barra">
                <ul>
                    <li class="item"><a href="notas.html" class="item">Notas</a></li>
                    <li class="item"><a href="quienesSomos.html" class="item">Quiénes Somos</a></li>
                    <li class="item"><a href="contacto.html" class="item">Contacto</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <main>
        <div class="row">
            <div class="col-1"></div>
            <div class="col">
                <h3 class="text-center">Entre cenizas y construcciones</h3>
                <h5 class="text-end fw-semibold fst-italic">Columna</h5>
                <p>Vivir en Córdoba es estar acostumbrado a épocas muy secas y calurosas, condiciones óptimas para la propagación de incendios. Cualquiera 
                    puede decirlo. Desde pequeños, era habitual salir de la escuela con juegos y folletos de "Bombi, el bombero", una simpática caricatura 
                    que promovía la reflexión sobre la gravedad de los incendios forestales. Con la misma frecuencia se veía el cielo cubierto de humo, 
                    impregnando de olor a ceniza a todo lo que estaba a su alcance. <br>
                    Una década o más pasó, pero la situación no ha mejorado. Como si viviéramos en un bucle del que no podemos escapar, 
                    nuestra provincia año tras año termina carbonizada, y pierde un poco más de flora y fauna, de belleza natural invaluable. <br>                    
                    Los incendios que azotan sin parar a Córdoba -y al país- tienen por lo general dos caras. Veamos un caso particular en La 
                    Calera. Una de las caras se remonta a la época de riesgo extremo cuando las montañas comienzan a arder. En plena noche, se 
                    puede ver el contorno naranja intenso del monte arrasado. El foco, al tiempo, es controlado. Muchos años pasan en medio para 
                    que podamos vislumbrar la otra cara. Este rostro oculto del incendio surge entre marcas de cordón cuneta y alambrados, que 
                    anticipan el barrio privado que se instalará donde supo haber vida, y que nunca volvió ni volverá a ser igual. Nada queda de 
                    las noches en que la montaña se perdía en la oscuridad, hoy su contorno está marcado por postes de luz que iluminan el límite 
                    de La Deseada. <br>
                    La Deseada es un barrio privado que está emergiendo lenta y decididamente al este de La Calera. Aún sin poblarse, todo 
                    lleva a creer que se expandirá según lo indique la demanda de este tipo de viviendas. En estos ambiciosos proyectos 
                    inmobiliarios, la vegetación autóctona no es más que un obstáculo a derribar, una piedra en el zapato de los empresarios. <br>                   
                    La toma encubierta de tierras resulta de un irracional desapego por la naturaleza, que no tiene en cuenta los graves efectos 
                    colaterales que la sociedad puede sufrir como consecuencia del interés de unos pocos. Que la singularidad de esta situación 
                    no borre del mapa lo importante: no es sólo en La Calera, esto sucede en distintos puntos de la provincia, quizá también 
                    del país. Esto es más normal de lo que podemos llegar a imaginar... Y eso es lo que debemos impedir.</p>
                    <h5 class="text-end fst-italic">Redacción Ver de Cerca</h5>
                    <figure>
                        <img class="img-fluid mx-auto d-block" src="https://static.wixstatic.com/media/0a8be6_5e94993684a44f3190800535a8976006~mv2.jpg/v1/fill/w_631,h_631,al_c,lg_1,q_85,enc_auto/0a8be6_5e94993684a44f3190800535a8976006~mv2.jpg" alt="">
                        <figcaption>
                            Por Jó Rivadulla en La Tinta, octubre de 2020.
                        </figcaption>
                    </figure>
                    
            </div>
            <div class="col-1"></div>
        </div>

        <section id="app">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="comentario">
                            <p v-for="items in item" v-text="items"></p>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <textarea type="text" class="input" placeholder="Escribí tu comentario" v-model="newItem" @serivicos.web="addItem()"></textarea>
                            <button v-on:click="addItem()" class="primaryContained float-right" type="enviar">Añadir comentario</button>

                    </div>
                </div>
            </div>
        </section>

        <footer>
            <hr>
            <div class="pie">
                <h5 class="fw-light fst-italic">Una mirada ecológica</h5>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </main>

</body>
</html>