/* general */
body{
    overflow-x: hidden;
 }
.barra {
    background-color: green;
    border-radius: 15px;
    width: 100%;
    text-align: center;

}

.logo {
    color: white;
    font-size: 45px;
    text-decoration: none;
    font-style: italic;
    text-shadow: 1px 1px black;
}

.logo:hover {
    color: white;
    text-shadow: 2px 2px 3px black;
}

ul li {
    list-style: none;
    display: inline-block;
}

.item {
    color: white;
    text-shadow: 1px 1px 1px black;
    text-decoration: none;
    margin-left: 70px;
    margin-right: 70px;
    font-size: 24px;
}

.item:hover {
    background-color: #4ad36e;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

/*main-inicio*/

.contenido {
    margin-top: 15px;
}

    #titular {
        border: 2px solid #bad7f2;
        text-align: center;
        padding: 10px;
    }
    #planeta {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        margin-bottom: -15px;
        margin-top: -15px;
    }

    /*cajas*/
        /*prop general*/

        #biodiversidad {
            background-color: #ffb6af;
            padding: 15px;
            margin: 1px;
            text-align: center;
        }

        #cambioclimatico {
            background-color: #b0f2c2;
            padding: 15px;
            margin: 1px;
            text-align: center;
        }

        #desarrollosostenible {
            background-color: #fcfcda;
            padding: 15px;
            margin: 1px;
            text-align: center;
        }

        #economiacircular {
            background-color: #bad7f2 ;
            padding: 15px;
            margin: 1px;
            text-align: center;
        }

        #eficienciaenergetica {
            background-color: #b0f2c2 ;
            padding: 15px;
            margin: 1px;
            text-align: center;
        }

        #huellaecologica {
            background-color: #ffb6af;
            padding: 15px;
            margin: 1px;
            text-align: center;
        }

        #rrr {
            background-color: #bad7f2;
            padding: 15px;
            margin: 1px;
            text-align: center;
        }

        #fuente {
            background-color:  #fcfcda;
            padding: 15px;
            margin: 1px;
            text-align: center;
        }

/*SECCION NOTAS*/

.titulosNotas {
    color: black;
    text-decoration: none;
}

.titulosNotas:hover {
    color: green;
}

.linkNotas {
    color: green;
    font-style: italic;
}
.col-md-5 {
    border: 1px solid grey;
    border-collapse: collapse;
    margin: 2px;
    padding:5px;
}

.col-md-5:hover {
    background-color:#c7f6d4;
    opacity: 0.95;
}

/*comentario*/
.container { 
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    border-radius: 7px;
    padding: 20px;
}
.comment {
    display: block;
    transition: all 2s;
}
.commentClicked {
    min-height: 0px;
    border: 2px solid #eee;
    border-radius: 6px;
    padding: 6px 11px;
}

.container textarea{
    width: 100%;
    border:none;
    background: #e8e8e8;
    padding: 6px 11px;
    height: 40%;
    border-radius: 6px 6px 0px 0px;
    border-bottom: 1px solid #016ba8;
    transition: all 2s;
    margin-top: 13px;
    
}

.button.primaryContained {
    background: #012ba8;
    color: #fff;
    padding: 7px 7px;
    border: none;
    margin-top: 0px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
    box-shadow: 0px 1px 5px 0px (rgba(0,0,0, 0.22));
    transition:2s all;
    font-size: 9px;
    border-radius: 4px;
}

figcaption {
    text-align: center;
}

/* QUIÉNES SOMOS */

#quienesSomos {
    background: linear-gradient(white, #b0f2c2);
    border-radius: 15px;
}

/*CONTACTO*/
#mapa,#formulario {
    border: 1px solid #ffb6af;
    background: linear-gradient(white, #ffb6af);
}

#formulario {
    align-items: center;
}
/* paleta colores
salmon #ffb6af
amarillo claro #fcfcda
verde rari #ededaf
verde agua #c7f6d4
verde normal #b0f2c2
celeste #bad7f2
/*

